
img{ border:0 none;}
.container-zoom{
    margin:0 auto;
    width:100%;
    position:relative;
    direction:ltr;
    -webkit-transition:all .4s;transition:all .4s;
}

/*#1*/
.pic_style1{
    max-height: 422px;
    width: 100%;
}
.pic_style1 .thumb_part{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
}
.pic_style1 .thumb_part .pic{
    width: 95px;
    height: 95px;
    float: left;
    margin: 4px 10px;
    opacity: .5;
    cursor: pointer;
    overflow: hidden;
}
.pic_style1 .thumb_part .pic > img{
    width: 100%;
}
.pic_style1 .thumb_part .pic.active{
    opacity: 1;
}
.pic_style1 .thumb_part .pic:hover{
    opacity: 1;
}
.pic_style1 .bigpic{
    width: 100%;
    height: 400px;
    text-align: center;
    overflow: hidden;
    position: relative;
    cursor: url("../../cursor_zoom.png") 40 40, pointer;
    margin: 0 auto;
}
.pic_style1 .bigpic img {
    width: 100%;
    height: inherit;
}
.product_detail_style1 .drift-zoom-pane{
    position: absolute;
    width: 80%;
    height: 80%;
    z-index: 999;
}
.product_detail_style1 .item{
    float: left;
}
.product_detail_style1 .item.w10{
    width: 10%;
}
.product_detail_style1 .item.w33{
    width: 33.33%;
}
.product_detail_style1 .item.w90{
    width: 90%;
}
.product_detail_style1 .item.w100{
    width: 100%;
}
.product_detail_style1 .list1{
    margin: 10px 0 15px 0;
}
.product_detail_style1 .item1{
    border-bottom: solid 1px #e1dede;
    padding: 6px 0;
}
.product_detail_style1 .policy1{
    min-height: 40px;
}
.product_detail_style1 .policy1 .text{
    font-size: 1.3rem;
    text-transform: capitalize;
    display: inline-block;
    line-height: 23px;
    color: #7e7e7e;
    transition: none;
}
.product_detail_style1 .policy1 .text:hover{
    color: #363636;
}
.product_detail_style1 .cus_option1{
    min-height: 40px;
    position: relative;
}
.product_detail_style1 .cus_option1 .submenu1{
    position: absolute;
    width: 250px;
    background: #efefef;
    text-align: center;
    font-size: 1.3rem;
    text-transform: capitalize;
    right: 0;
    line-height: 22px;
    padding: 8px 0;
    color: #6c6c6c;
    top: 27px;
    display: none;
}

.product_detail_part1{background-color:#fff;}
.product_detail_part1 .inner{
    position: relative;
}
.product_detail_part1 .leftside{
    float: left;
}
.product_detail_part1 .rightside{
    /* width: 100%; */
    /* position: absolute; */
    /* height: 100%; */
    /* right: -100%; */
}

