/******************************** 1024*768 ************************************/
@media only screen and (max-width: 1200px) {
    .container {
        width: 970px;
    }

    .home_part9 {
        display: block;
    }

    .home_part9 .title {
        cursor: auto;
    }

    .box_style1 .item1 {
        margin: 0 0.4% 0 0.4%;
    }

    .home_part3 .content_part {
        width: 498px;
    }

    .home_part3 .item3:last-child {
        display: none;
    }

    .box_style2 .item2 .pic {
        height: 210px;
    }

    .content_style1 img {
        width: 370px;
    }

    .box_style3 img {
        width: 510px;
        height: auto;
    }

    .list_style3 {
        overflow-x: scroll;
    }

    .list_style3 .list1 {
        min-width: 1170px;
    }

    .content_style5 .rightside {
        width: 68%;
    }

    .pic_style1 {
        width: 400px;
        margin: 0 auto;
    }

    .main_leftside {
        width: 28.5%;
    }

    .main_rightside {
        width: 70%;
    }

    .comment_style1 .item1 .content {
        width: 85%;
    }

    .comment_style1 .list1.answer .content {
        width: 83%;
    }

    .box_style4 .item1 .pic_part {
        width: 164px;
        height: 164px;
    }

    .box_style4 .item1 .description {
        min-height: 164px;
    }

    .box_style4 .item1 .summary p {
        max-height: 84px;
    }

    .box_style6 .link1 {
        height: 228px;
    }

    .box_style6 .link1 img {
        min-height: 228px;
    }

    .box_style5 .item1 {
        max-height: 230px;
        min-height: 230px;
    }

    .form_style2 {
        width: 95%;
    }

    .signin_part1 .form_style2 {
        width: 90%;
    }

    .cooperation_part1 {
        background: none;
    }

    .cooperation_part1 .rightside {
        float: none;
        width: 100%;
    }
    .cooperation_part1 .rightside .pic{
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    .cooperation_part1 .leftside {
        float: none;
        width: 100%;
        padding: 10px 0 20px 0;
    }

    .list_style5 .item1.red .title:before {
        width: 126px;
    }

    .list_style5 .item1.green .title:before {
        width: 115px;
    }

    .list_style4 {
        padding: 104px 60px 60px 350px;
    }

    .list_style4 .start {
        left: 328px;
    }

    .footer {
        padding: 10px;
    }

    .footer .footer_part1 .item1 {
        width: 33%;
    }

    .box_style7 .button {
        top: 0;
    }

    .nav_style3 .inner:before, .nav_style3 .inner:after {
        display: none;
    }

    .nav_style3 .item1 {
        margin: 0 21px 0 16px;
    }

    .nav_style3 {
        background-color: #fff;
    }

    .nav_style3 .list2 {
        left: -333px;
        width: 989px;
    }

    .pic_style3 .pic {
        width: 100%;
        max-width: 100%;
    }

    .content_style4 .item1 {
        padding: 0;
    }

    .pic_style1 {
        width: 670px;
        margin: 0 auto;
    }

    .product_detail_part1 .leftside {
        width: 100%;
        float: none;
    }

    .product_detail_part1 .rightside {
        width: 75%;
        float: none;
        margin: 20px auto;
    }

    /**panel**/
    .panel_style1 .panel_part2 .leftside {
        float: none;
        width: 246px;
        z-index: 90;
        position: absolute;
        top: -20px;
        padding: 20px 0 0 0;
        background-color: #1a1a1a;
        display: none;
    }

    .panel_style1 .menu2 .step1_item.active .link1:before {
        color: #d0d0d0;
    }

    .panel_style1 .menu2 .step1_item.opened:before {
        color: #d9d9d9;
    }

    .panel_style1 .menu2 .step1_item.active {
        color: #d9d9d9;
        background-color: #282828;
    }

    .panel_style1 .menu2 .step1_item.active .link1:after {
        display: none;
    }

    .panel_style1 .menu2 .step2 {
        background-color: #323232;
        color: #c9c9c9;
        padding: 7px 0 7px 0;
    }

    .panel_style1 .menu2 .step2_item .link2:before {
        background-color: #5e5e5e;
    }

    .panel_style1 .menu2 .step2_item.active .link2 {
        background-color: #282828;
        color: #a5a5a5;
    }

    .panel_style1 .menu2 .step2_item:hover .link2 {
        background-color: #282828;
        color: #a5a5a5;
    }

    .panel_style1 .menu2 .step2_item .notification2 {
        background-color: #535353;
        color: #cccccc;
    }

    .panel_style1 .menu2 .step1_item .notification1 {
        display: none;
    }

    .panel_style1 .menu2 .step1 {
        color: #ccc;
    }

    .panel_style1 .menu2 .step1_item .link1:before {
        color: #c6c6c6;
    }

    .panel_style1 .menu2 .step1_item .link1:hover:before {
        color: inherit;
    }

    .panel_style1 .menu2 .step1_item.opened {
        background-color: #933636;
        color: #cccccc;
        border-top: dotted 1px #282828;
    }

    .panel_style1 .menu2 .step1_item:hover {
        background-color: #933636;
        color: #cccccc;
        border-top: dotted 1px #282828;
    }

    .panel_style1 .menu2 .step1_item .link1:hover {
        background-color: inherit;
        color: inherit;
    }

    .panel_style1 .menu2 .step1_item {
        border-top: dotted 1px #3e3e3e;
    }

    .panel_style1 .panel_part2 .rightside {
        width: 100%;
    }

    .panel_style1 .submenu1 {
        display: none !important;
    }

    .panel_style1 .menu1 .item1.user {
        display: none;
    }

    .panel_style1 .menu1 .item1.user.responsive {
        display: block;
    }

    .panel_style1 .leftside_inner3 {
        width: 100%;
    }

    .panel_style1 .leftside_inner2 {
        padding: 20px 10px 35px 10px;
    }

    .panel_style1 .box_style1 .item1 {
        padding: 0 22px;
    }

    .panel_style1 .panel_part1 {
        overflow: hidden;
    }

    /*.panel_part2{overflow:hidden;}*/

}

/*1024*768*/

/******************************* 800*600 **************************************/
@media only screen and (max-width: 992px) {
    .container {
        width: 750px;
    }

    html {
        font-size: 9.5px;
    }

    .home_part1 .slideshow .description {
        width: 620px;
    }

    .home_part2 .item1 {
        float: none;
        width: 60%;
        margin: 0 auto;
        margin-bottom: 40px;
    }

    /*.box_style1 .item1:last-child {
        display: none;
    }*/

    .home_part3 .big_pic .link {
        display: none;
    }

    .home_part3 .content_part {
        width: 100%;
    }

    .home_part3 .item3:last-child {
        display: block;
    }

    .box_style2 .item2 .pic {
        height: 155px;
    }

    .box_style2 .item2 .pic .link:after {
        font-size: 4rem;
        line-height: 160px;
    }

    .box_style3 img {
        width: 390px;
    }

    .content_style5 .leftside {
        width: 100%;
    }

    .content_style5 .rightside {
        width: 100%;
    }

    .content_style5 .leftside .pic {
        margin: 0 auto;
    }

    .product_archive_part1 .box_style1 .item1 {
        margin: 20px 1% 0 1%;
    }

    .product_detail_part1 .rightside {
        width: 100%;
    }

    .product_detail_part4 .inner {
        padding: 0 0;
    }

    .resault_style1 .item1.sort {
        width: 260px;
    }

    .resault_style1 .item1.category {
        width: 260px;
    }

    .main_leftside {
        display: none;
    }

    .main_rightside {
        width: 100%;
    }

    .rightside_style2 .box_style2 .item1 .pic {
        height: 220px;
    }

    .rightside_style2 .box_style2 .item2 .pic .link:after {
        line-height: 220px;
    }

    .box_style4 .item1 {
        width: 77%;
        float: none;
        margin: 25px auto;
    }

    .box_style4 .item1:nth-child(even) {
        margin: 25px auto;
    }

    .box_style4 .item1 .pic_part {
        width: 200px;
        height: 200px;
    }

    .box_style4 .item1 .description {
        min-height: 200px;
    }

    .box_style5 .item1 {
        max-height: 180px;
        min-height: 180px;
    }

    .contactus_part1 .w50 {
        width: 100%;
    }

    .list_style6 .btn_style1 {
        width: 175px;
    }

    .list_style6 .label {
        padding: 0 10px;
    }

    .table_style1 {
        overflow-x: scroll;
    }

    .table_style1 table {
        min-width: 900px;
    }

    .policies_part1 .inner {
        padding: 50px 0;
    }

    .list_style5 .item1.red .title:after {
        width: 80%;
    }

    .list_style5 .item1.green .title:after {
        width: 84%;
    }

    .list_style4 {
        padding: 104px 60px 60px 270px;
    }

    .list_style4 .start {
        left: 248px;
    }

    .footer .footer_part1 .item3 {
        padding: 11px 0 12px 25px;
    }

    .footer .footer_part2 .inner {
        padding: 0 250px;
    }

    .nav_style3 .item1 {
        margin: 0 5px 0 4px;
    }

    .nav_style4 .input1 {
        width: 300px;
    }

    .nav_style4 .list1 {
        background: none;
    }

    .nav_style3 .list2 {
        display: none !important;
    }

    .nav_style3 .item1.have_sub .link:after {
        display: none;
    }

    .box_style7 .list1 {
        width: 78%;
    }

    .home_part6 .description p {
        padding: 0 10px;
    }

    .content_style4 .item1.pic_left .pic_part {
        float: none;
        width: 100%;
        text-align: center;
    }

    .content_style4 .item1.pic_left .description {
        margin: 0;
        float: none;
        width: 70%;
        margin: 30px auto;
    }

    .content_style4 .item1.pic_right .pic_part {
        float: none;
        width: 100%;
        text-align: center;
    }

    .content_style4 .item1.pic_right .description {
        margin: 0;
        float: none;
        width: 70%;
        margin: 30px auto;
    }

    .nav_style4 .item1.sign_part {
        display: none;
    }

    .modal_style15 .product_detail_style1 {
        float: none;
        width: 100%;
        text-align: center;
    }

    .modal_style15 .pic_style1 {
        width: 100%;
        float: none;
    }

    .modal_style15 .pic_style1 .bigpic {
        float: none;
        margin: 0 auto;
    }

    /**panel**/
    .panel_style1 .tooltip1 {
        right: 0;
    }

    .panel_style1 .box_style1 .item1 {
        width: 50%;
        padding: 0 50px;
        margin: 30px 0px;
    }

    .panel_style1 .table3 {
        overflow-x: scroll;
    }

    .panel_style1 .table3 .t1 {
        min-width: 1000px;
    }


}

/*800*600*/

/******************************* 600*800 **************************************/
@media only screen and (max-width: 768px) {
    .container {
        width: 550px;
    }

    .home_part1 .slideshow .description {
        width: 430px;
    }

    .box_style1 .list1 {
        margin: 0;
    }

    .box_style1 .item1 {
        width: 52%;
        margin: 40px auto;
        float: none;
    }

    .home_part3 .item3:last-child {
        display: none;
    }

    /*.box_style2 .item1:last-child {*/
        /*display: none;*/
    /*}*/

    .home_part2 .item1 {
        width: 100%;
    }

    .box_style2 .item1 {
        width: 49.33%;
    }

    .box_style2 .item2 .pic {
        height: 180px;
    }

    .content_style1 img {
        width: 300px;
    }

    .product_archive_part1 .box_style1 .item1 {
        margin: 40px auto;
    }

    .product_detail_style1 .item2 {
        float: right;
    }

    .product_detail_style1 .btn_style1 {
        margin: 35px auto 0 auto;
    }

    .product_detail_part4 .comment_style1 {
        padding: 25px;
    }

    .comment_style1 .item1 .content {
        width: 82%;
    }

    .comment_style1 .list1.answer .content {
        width: 79%;
    }

    .resault_style1 .item1.sort {
        width: 100%;
        float: none;
        margin: 10px auto;
    }

    .resault_style1 .item1.category {
        width: 100%;
        float: none;
        margin: 10px auto;
    }

    .blogs_archive_part1 .nice-select {
        float: none;
    }

    .blogs_archive_part1 .resault_style1 .item1.category {
        margin-left: 0;
    }

    .rightside_style1 .pic_part {
        height: 345px;
    }

    .content_style2 img {
        width: 455px;
        height: 294px;
    }

    /*.box_style2 .item1:last-child {*/
        /*display: none;*/
    /*}*/
    .blogs_archive_part1 .box_style2 .item1{float: none; width: 100%; max-width: 300px; margin: 20px auto;}

    .box_style4 .item1 {
        width: 100%;
    }

    .box_style4 .item1 .description {
        width: 100%;
        min-height: 164px;
    }

    .box_style4 .item1 .pic_part {
        width: 100%;
        height: 100%;
    }

    .box_style6 .item1 {
        width: 48%;
    }

    .player_style1 {
        width: 100%;
    }

    .player_style1 .player {
        width: 100%;
    }

    .box_style6 .item1:last-child {
    }

    .box_style5 .item1 {
        width: 48%;
    }

    .form_style2 {
        width: 100%;
        padding: 10px;
    }

    .form_style2 .item1.w33 {
        width: 100%;
        margin: 5px 0;
    }

    .form_style2 .item1.ca1 {
        width: 50%;
    }

    .signin_part1 .form_style2 {
        width: 100%;
    }

    .list_style6 .item {
        width: 100%;
    }

    .list_style6 .btn_style1 {
        width: 100%;
    }

    .table_style4 td.icon {
        width: 10%;
    }

    .table_style4 td.info {
        width: 90%;
    }

    .change_pass_part1 .form_style2 {
        width: 100%;
    }

    .list_style5 .item1.red .title:before {
        display: none;
    }

    .list_style5 .item1.green .title:before {
        display: none;
    }

    .restore_pass_part1 .form_style2 {
        width: 100%;
        padding: 10px;
    }

    .list_style4 {
        padding: 104px 60px 60px 189px;
    }

    .list_style4 .start {
        left: 167px;
    }

    .footer .footer_part2 .inner {
        padding: 0 100px;
    }

    .footer .footer_part1 .item1 {
        width: 50%;
    }

    .footer .footer_part3 .item1:nth-child(2) {
        display: none;
    }

    .footer .footer_part3 .item1 {
        width: 50%;
    }

    .nav_style2 .item1:nth-child(5) {
        display: none;
    }

    .header_part3 {
        display: none;
    }

    .nav_style4 {
        display: none !important;
        opacity: 0 !important;
    }

    .header_part2 {
    }

    .nav_style1 .item2.search {
        display: none;
    }

    .nav_style1 .list1 ul {
        text-align: center;
    }

    .nav_style1 .item1.shop_part {
        float: none;
        display: inline-block;
        margin-left: 10px;
    }

    .burger_menu_style1 {
        display: block;
    }

    .box_style7 .list1 {
        width: 100%;
    }

    .modal_style15 .pic_style1 {
        width: 100%;
    }

    .pic_style1 .bigpic {
        max-width: 100%;
        overflow: hidden;
    }

    .modal_style15 .product_detail_style1 {
        width: 100%;
    }

    .faq_part1 .item1 {
        padding: 10px 20px;
    }

    .title_style8 {
        overflow: hidden;
    }

    /*.slideshow_style1 {*/
        /*display: none;*/
    /*}*/

    .pic_style1 {
        width: 100%;
    }

    .pic_style1 .thumb_part {
    }

    .pic_style1 .bigpic {
        cursor: auto;
    }

    .product_detail_part4 .item1 {
        float: none;
        width: 100%;
    }

    /**panel**/
    .panel_style1 .menu1 .item1.today_date {
        display: none;
    }

    .panel_style1 .rightside_inner1 {
        width: 100%;
    }

    .panel_style1 .box_style1 .item1 {
        width: 53%;
        margin: 30px auto;
        padding: 0;
        float: none;
    }

    .panel_style1 .form1 .item.w50 {
        width: 100%;
    }

    .panel_style1 .form1 .item.w30 {
        width: 100%;
    }
    .pic_style1{    padding: 0 0px;}
    .pic_style1 .bigpic{height: 350px;}
    .pic_style1 .bigpic img{width: 75%;min-width: 295px;}
    .story_description {
    padding: 20px;
    }

}

/*600*800*/

/******************************** 480*320 *************************************/
@media only screen and (max-width: 550px) {
    .container {
        width: 100%;
        padding: 0 15px;
    }

    .breadcrumb_style1 .title {
        display: none;
    }

    .modal_style1, .modal_style2, .modal_style3, .modal_style4, .modal_style5 {
        width: 100%;
        min-width: 100%;
        max-width: 100%;
    }

    .box_style1 .item1 {
        width: 288px;
    }

    .home_part3 .item3 .thumb {
        width: 170px;
        height: 170px;
        background-color: #fff;
    }

    .box_style2 .item1 {
        width: 100%;
        float: none;
        margin: 20px auto;
    }

    .box_style2 .item1:first-child {
        margin: 20px auto;
    }

    .box_style2 .item2 .pic {
        height: 257px;
    }

    .form_style2 .explanation p {
        padding: 0 15px;
    }
    .home_part1 .slideshow .pic{
        height: 350px;
    }
    .home_part1 .slideshow .description{
        width: 100%;
        top: 66px;
    }

    .home_part9 {
        padding: 20px 0 10px 0;
    }

    .btn_style1 {
        width: 100%;
    }

    /*.content_style1 img {*/
        /*display: none;*/
    /*}*/
    .content_style1 img{
        width: 100%;
    }

    .content_style5 {
        display: none;
    }

    .pagination_style1 a {
        font-size: 1rem;
        padding: 14px;
    }

    .pagination_style1 .item1.first a:before, .pagination_style1 .item1.last a:before {
        line-height: 36px;
    }

    .product_detail_part1 .leftside {
        overflow-x: scroll;
    }

    .product_detail_style1 .list2 {
        padding: 5px;
        margin: 0;
    }

    .product_detail_style1 .title_style11 {
        font-size: 2.5rem;
    }

    .product_detail_style1 .item2.w33 {
        width: 100%;
    }

    .title_style6 {
        font-size: 1.5rem;
    }

    .comment_style1 .list1.answer {
        margin: 0 0 45px 10px;
    }

    .rightside_style1 .pic_part img{

    }

    .content_style2 {
        padding: 10px 10px 10px 0;
    }

    .content_style2 li {
        padding: 0 5px 0 5px;
    }

    .content_style2 li:before {
        display: none;
    }

    .content_style2 img {
        width: 100% !important;
        height: auto !important;
    }
    .rightside_style2{
        display: none;
    }

    .share_style1 {
        margin: 30px 0 0 7px;
    }

    .rightside_style2 .box_style2 .item1 {
        width: 100%;
    }

    .rightside_style2 .box_style2 .item1:first-child {
        margin-left: 0;
    }

    /*.box_style4 .item1 .pic_part {*/
        /*display: none;*/
    /*}*/

    .box_style4 .item1 .description {
        width: 100%;
    }

    .box_style5 .item1 {
        width: 100%;
    }

    .contactus_part1 .description {
        padding: 0;
    }

    .list_style1 .item1 {
        width: 100%;
    }

    .form_style2 .item1.w50 {
        width: 100%;
    }

    .table_style2 {
        overflow-x: scroll;
    }

    .table_style2 table {
        min-width: 500px;
    }

    .table_style3 {
        overflow-x: scroll;
    }

    .table_style3 table {
        min-width: 500px;
    }

    .table_style4 {
        overflow-x: scroll;
    }

    .table_style4 table {
        min-width: 500px;
    }

    .content_style3 {
        padding: 0;
    }

    .title_style11 {
        padding: 0;
    }

    .title_style11:before {
        display: none;
    }

    .list_style5 {
        padding: 60px 5px;
    }

    .sitemap_part1 .inner {
        padding: 0;
    }

    .list_style4 {
        padding: 104px 60px 60px 52px;
    }

    .list_style4 .start {
        left: 30px;
    }

    .footer .footer_part1 .item1 {
        display: block;
        width: 100%;
    }

    .footer .footer_part3 .inner {
        background: url(../_images/bg/sign.png) no-repeat center right / 159px;
    }

    .footer .footer_part3 .item1 {
        width: 70%;
    }

    .footer .footer_part1 .item1 {
        padding: 0;
        margin-top: 20px;
    }

    .footer .footer_part2 .inner {
        padding: 0;
    }

    .footer .footer_part2 .list1:before {
        display: none;
    }

    .footer .footer_part2 .list1:after {
        display: none;
    }

    .footer .footer_part3 .inner {
        background: none;
    }

    .footer .footer_part3 .item1 {
        width: 100%;
    }

    .footer .footer_part3 .item1 .atlas_sign {
        padding: 0;
    }

    .home_part6 .description p {
        padding: 0 0;
    }
    .home_part2 .description_part{
        padding: 0 5px;
    }

    .box_style1 .quick_view {
        display: none;
    }
    .content_style4 .item1 .pic_part{height: 250px;}
    .content_style4 .item1 .pic_part img{width: 100%;}

    /*.content_style4 .item1 .pic_part {*/
        /*display: none;*/
    /*}*/

    .content_style4 .item1 .description {
        width: 100% !important;
        height: auto;
    }

    /**panel**/
    .panel_style1 .rightside_inner2 {
        padding: 0;
    }

    .panel_style1 .menu1 .item1.user {
        min-width: 220px;
        max-width: 220px;
        margin: 25px 2px 22px 0;
    }

    .panel_style1 .menu1 .item1 {
        display: none;
    }

    .panel_style1 .rightside_inner1 {
        padding: 0;
    }

    .panel_style1 .table1 {
        overflow-x: scroll;
    }

    .panel_style1 .table1 table {
        min-width: 400px;
    }

    .panel_style1 .table2 {
        overflow-x: scroll;
    }

    .panel_style1 .table2 table {
        min-width: 400px;
    }

    .panel_style1 .title2 .resault {
        display: none;
    }

    .panel_style1 .pagination1 .pagination {
        padding: 5px;
    }

    .box_style1 .list1 {
        margin: 0;
    }

    .panel_style1 .box_style1 .item1 {
        width: 67%;
    }
    .cooperation_part1 .rightside .pic{width: 100%;height: 300px;}
    .cooperation_part1 .rightside{height: 310px;}
    
    .inner-what-you-deserve {
        background: url(../_images/bg/sign.png) no-repeat center center / 172px;
        display: block;
        height: 62px;
    }

}

/*480*320*/

/****************************** 320*480 ***************************************/
@media only screen and (max-width: 350px) {
    .container {
        width: 100%;
        padding: 0 15px;
    }

    .home_part7 {
        padding: 25px 0 0px 0;
        margin-bottom: 30px;
    }

    .home_part7 .inner {
        padding: 8px;
    }

    .box_style1 .item1 {
        width: 100% !important;
        min-width: 100%;
    }

    .box_style2 .item1 {
        width: 100%;
    }

    .box_style2 .item2 .pic {
        height: 140px;
    }

    .home_part5 {
        padding: 50px 0 10px 0;
    }

    .form_style2 .item1 {
        padding: 0;
    }

    .box_style6 .item1 {
        width: 100%;
    }

    .footer .footer_part1 .item1:last-child {
        display: none;
    }

    .footer_part1 .inner {
        padding: 0;
    }

    .footer_part4 p {
        width: 100%;
    }

    .home_part4 {
        padding: 45px 0 0px 0;
    }

    .title_style6 {
        margin: 0 0 0 0;
    }

    .nav_style1 .item1:last-child {
        display: none;
    }

    .home_part6 .description {
        margin-top: 20px;
    }

    .box_style1 .quick_view {
        display: none;
    }

    .pic_style1 .bigpic img {
        width: 100%;
        height: 100%;
    }

    .pic_style1 {
        padding: 0;
    }

    .pic_style1 .bigpic {
        width: 100%;
        height: auto;
    }

    .product_detail_style1 {
        padding: 10px 0;
    }

    .product_detail_style1 .item {
        float: none;
        width: 100% !important;
    }

    .product_detail_part4 .item1:before {
        display: none;
    }
    .rightside_style1 .pic_part{
        height: 140px;
    }

    .product_detail_part4 .item1 {
        padding: 0;
    }

    /**panel**/
    .panel_style1 .menu1 .item1 {
        display: none;
    }

    .panel_style1 .menu1 .item1.user {
        min-width: 225px;
        max-width: 225px;
    }

    .panel_style1 .panel_part2 .leftside {
        max-width: 225px;
    }

    .panel_style1 .rightside_inner2 {
        padding: 0;
    }

    .panel_style1 .form1 .item.w50 {
        overflow: hidden;
    }

    .panel_style1 .box_style1 .item1 {
        width: 100%;
    }
    .slideshow_style1 .description{
        padding: 20px 10px;
    }
    .slideshow_style1 div img{
        min-height: 212px;
    }

    .responsive_menu.active {
        width: 100%;
    }
    #gs-grid .gs-posts--col-3 .gs-post, #gs-grid .gs-posts--col-4 .gs-post, #gs-grid .gs-posts--col-5 .gs-post{
        width: 100% !important;
    }
    .pic_style1 .bigpic img{width: 75%;min-width: auto;}
    .content_style4 .item1 .pic_part{height: 160px;}
    .cooperation_part1 .rightside .pic{width: 100%;height: 250px;}
    .cooperation_part1 .rightside{height: 260px;}

}

/*320*480*/

@media print {
    .header, .footer,
    .title_style8,
    .breadcrumb_style1,
    .product_detail_part2,
    .product_detail_part3,
    .product_detail_part4,
    .panel_style1 .panel_part1,
    .panel_style1 .panel_part2 .leftside,
    .panel_style1 .resault,
    .pic_style1 .thumbnail {
        display: none;
    }

    .panel_style1 .table2.sign_part {
        display: block;
    }

    .panel_style1 .panel_part2 .rightside {
        width: 100%;
    }

    .product_detail_part1 .leftside {
        float: none;
        margin: 0 auto;
    }

    .product_detail_part1 .leftside .thumb_part {
        display: none;
    }

    .product_detail_part1 .rightside {
        float: none;
        margin: 20px auto;
    }

    .gototop_style1 {
        display: none !important;
    }

    .content_style4 {
        background: #fff;
        box-shadow: none;
    }

    content_style4 {
        box-shadow: none;
        border: none;
    }

    .print_style1 {
        display: none;
    }

    .share_style1 {
        display: none;
    }

    .btn_style1 {
        display: none;
    }

    .nav_style4 {
        display: none !important;
    }

    .product_detail_style1 .like1,
    .product_detail_style1 .button1 {
        display: none;
    }

    .no-print {
        display: none;
    }

    .product_detail_style1 .paragraph1 {
        display: block !important;
    }

    .product_detail_style1 .print1,
    .product_detail_style1 .policy1,
    .product_detail_style1 .share1 {
        display: none;
    }

    .product_detail_part5 {
        display: block;
    }

    .product_detail_style1 .cus_option1 {
        display: none;
    }
}

/*print*/


